---
layout: default
---

<div id="home">
  <h1> Papers Read </h1>
  <hr />

  <ul class="posts">
    {% for post in paginator.posts %}
    <li><span> {{ post.presenter }} » </span> <i><span>{{ post.date | date_to_string }} » {{ post.categories[-1] }} » </span></i> <a href="{{ post.url }}">{{ post.title }}</a>
        {% for paper in post.papers %}
	 » <a href="{{ paper.link }}"> {{ paper.name }} </a>
	{% endfor %}
    </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <ul class="pagination pagination-sm">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
      {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      <li><a href="/page/{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
      {% else %}
        <li class="disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
  {% endif %}
</div><!-- end #home -->
<script type="text/javascript">
window.onload=function(){
var aList = document.querySelectorAll("a");
aList.forEach(function(a) {
  var text = a.textContent.trim();
  var words = text.split(" ");
  var truncatedText = words.slice(0, 3).join(" ");
  a.textContent = truncatedText;
});
  var ul = document.querySelector("ul.posts");
  var liList = ul.querySelectorAll("li");
  var liArray = Array.from(liList);
  liArray = liArray.filter(function(li) {
    var span = li.querySelector("span");
    return span && span.textContent.trim() !== "null" && span.textContent.trim() !== "";
  });
  liArray.sort(function(a, b) {
	var spanA = a.querySelector("span");
	var spanB = b.querySelector("span");
	var textA = spanA ? spanA.textContent.trim().charAt(0) : "";
	var textB = spanB ? spanB.textContent.trim().charAt(0) : "";
	return textA.localeCompare(textB);
  });
  ul.innerHTML = "";
  liArray.forEach(function(li) {
    ul.appendChild(li);
  });
}
</script>
